body {
    font-family: AR DESTINE;
    background-color: darkblue;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 290%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}