body {
    font-size: 20px;
    font-family: ar destine;
    background-color: #66FFAB;
}

.center {
    text-align: center;  
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px;
    margin: 0 auto;
    color: #FF732E;
    font-size: 20px;
    font-family: ar destine;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 400px;
}
.button {
    background-color: brown; /* Green */
    border: inset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}